/* Root CSS Variables
================================ */

/* HTML
================================ */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  margin: 0;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 500;
}
h3 {
  margin-top: 0;
}
h3,
h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
input[type="color"],
button {
  cursor: pointer;
}
hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
}
hr:after {
  font-family: "FontAwesome";
  content: "\f5c3";
  display: inline-block;
  position: relative;
  color: #333;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #ffffff;
}

/* Color Tool - App container
================================ */
#color-contrast-tool {
  margin: 0 auto 4rem;
  padding: 2rem;
  max-width: 900px;
}

.color-contrast-tool-header {
  text-align: center;
  margin-bottom: 2.5rem;
}
.color-contrast-tool-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.color-contrast-tool-header h1 img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.color-contrast-tool-header p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-style: italic;
}

/* Inputs
================================ */
.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}
.input-container > .input-section {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .input-container > .input-section {
    width: auto;
  }
}
label.hidden {
  display: none;
}
.input-container input[type="text"] {
  margin-bottom: 0.25rem;
  padding: 0.75rem 0.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}
.input-container input:hover {
  border-color: #1e88e5;
}
.input-container input:focus-visible {
  border-color: #0d47a1;
}
.input-container input[type="color"] {
  width: 100%;
  border-radius: 0.25rem;
  border: 0.125rem solid #ccc;
  padding: 0 0.125rem;
}
.input-container input[type="color"]:hover {
  border-color: #1e88e5;
}

/* WCAG Compliance Contaienr
================================ */
.wcag-compliance-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Color Ratio
================================ */
.color-ratio-container {
  margin-top: 1rem;
}
#color-ratio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  min-width: 170px;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  border: 0.125rem solid #000000;
  border-radius: 0.25rem;
}

/* WCAG Table
================================ */
table th:first-child,
table td:first-child {
  text-align: left;
  width: 175px;
  padding-left: 0.25rem;
}
table tr td {
  padding: 0.5rem;
}
table tr.wcag-table-row td:not(:first-of-type) {
  color: #ffffff;
  width: 100px;
  font-weight: 600;
  text-align: center;
}
table tr.wcag-table-row td.pass {
  background: #008811;
}
table tr.wcag-table-row td.pass:after {
  content: "Pass";
}
table tr.wcag-table-row td.fail {
  background: #f44336;
}
table tr.wcag-table-row td.fail:after {
  content: "Fail";
}

/* Demo
================================ */
.demo-container {
  padding: 0;
}
#demo-box {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.375rem;
}
button.swap-colors-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: #fff;
  color: #1e88e5;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.125rem solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.1875rem 0.1875rem -0.125rem,
    rgba(0, 0, 0, 0.14) 0 0.1875rem 0.25rem 0,
    rgba(0, 0, 0, 0.12) 0 0.0625rem 0.5rem 0;
}
button.swap-colors-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
}
button.swap-colors-button:hover {
  border-color: #1e88e5;
}
button.swap-colors-button:active,
button.swap-colors-button:focus-visible {
  outline: none;
  border-color: #0d47a1;
}
button.swap-colors-button:focus-visible:hover {
  color: #0d47a1;
}
button.swap-colors-button:active > i {
  transform: rotate(180deg);
}
.demo-box_ui-components {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 2rem;
  gap: 2rem;
}

/* Footer
================================ */
footer.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

footer.footer-container .footer-link,
footer.footer-container .footer-copyright {
  padding: 1rem;
}
